global
  maxconn 10000 #最大连接数
  log stdout format raw local0 #日志输出配置，所有日志都输出到控制台，通过local0输出

defaults #默认设置
  log     global #应用全局的日志配置
  mode    http #默认的模式:tcp|http|health
  option  httplog #日志类别,采用http日志格式
  option  dontlognull #不记录健康检查日志信息
  option  http-use-htx #
  timeout connect 1 #连接超时时间
  timeout client  5 #客户端连接超时时间
  timeout server  5 #服务器端连接超时时间

frontend web-in #前台
  bind :80 #监听端口
  bind :8080 proto h2
  default_backend web-upstream #静态服务器池

backend web-upstream #后台
  retries 2 #2次连接失败就认为服务不可用
  server web-a web-a.ha.stack:80 check
  server web-b web-b.ha.stack:80 check
